@import url('https://fonts.googleapis.com/css2?family=Jost&family=Poppins:wght@300&display=swap');
.app{
    font-family: 'Poppins', sans-serif;
    border: none;
    margin: 0;
    padding: 0;
    position: relative;
    .footer{
        position: absolute;
        bottom: 0;
        left:46%;
        text-align: center;
        color: white;
        font-size: x-small;
    }
    .link{
        text-decoration: none;
        color: inherit;
    }
}